body {
    margin: 0;
    height: 100vh;
    justify-items: center;
    align-content: center;
  
}
.page {
    max-width: 1512px; 
} 
header h1 {
    width: 367px;
    letter-spacing: 25px;
    font-weight: 200;
    font-size: 50px;
    color: #000000;
    display: inline-block;
}
.img-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 23px;
    
}
.img-container img {
    height: 100%;
}
.img3 {
    grid-column-start: 4;
}
.img4 {
    grid-column-start: 2;
    grid-row: 2;
}
.img5 {
    grid-area: 2 / 3;
}
