


body {
    font-family: Roboto;
    margin: 0 auto;
    height: 100vh;
    justify-items: center;
    align-content: center;

}
.main {
    max-width: 1512px;
    
}
header h1 {
    font-weight: 500;
    font-size: 50px;
    color: #000000;
}
.images-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 20px;  
}
.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #C4C4C4;
    display: block;   
}