body {
    margin: 0;
    height: 100vh;
    justify-items: center;
    align-content: center;    
}
.content {
    max-width: 1512px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 200px);
    column-gap: 10px;
    row-gap: 10px;
}
.main-header {
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 20px;
    color: lightpink;
    margin-bottom: 100px;
}
.header {   
    font-weight: 100;
    font-size: 50px;
    letter-spacing: 20px;
    color: #000000;
    line-height: 100%;
    grid-column: span 3;   
}
.title {
    height: 59px;
    font-weight: 100;
    font-size: 50px;
    letter-spacing: 20px;
    color: #000000;
    line-height: 100%;
    grid-row-start: 2;
    grid-column-end: 2;
}
.image-image1 {
    grid-row-start: 4;
    grid-column-start: 1;
    justify-self: end;
}
.image-image2 {
    grid-row-start: 3;
    grid-column-start: 2;
}
.image-image3 {
    grid-area: 2 / 3 / 3 / 4;
}
.image-image4 {
    grid-area: 1 / 5 / 5 / 6;
}
.image-image5 {
    grid-row-start: 4;
    grid-column-end: 4;
}
.image-image6 {
    grid-row-start: 3;
    grid-column-end: 6;
}
.image-image7 {
    grid-row-start: 2;
    grid-column-end: 7;
}
.image-image8 {
    grid-row-start: 4;
    grid-column-end: 7;
}
.vertical-line {
    grid-column: 4 / 5;
    grid-row: 1 / -1;
    width: 5px;
    background-color: #C4C4C4;    
}